/* Seleccionamos .avatar con .proportioned para que tenga un ancho de 300px y altura proporcional */
.avatar.proportioned {
    width: 300px;
    height: auto; /* Esto mantiene las proporciones originales de la imagen */
  }
  
  /* Seleccionamos .avatar con .distorted para que tenga un ancho de 200px y la altura el doble del ancho */
.avatar.distorted {
    width: 200px;
    height: 400px; /* La altura es el doble del ancho */
  }
  
